<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ name }}</title>
</head>
<body>
<h1>web app first</h1>
{% if name == "kiyokiyo" %}
  <h1>Special{{name}}shurain</h1>
{% elif name %}
  <h1>{{name}}shurain</h1>
{% else %}
  <h1>tadano jinja</h1>
{% endif %}
<img src="../static/images/jinja.png" alt="torii">

{% for word in okyo %}
  <p>{{word}}</p>
{% endfor %}
</body>
</html>
