<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
<h1>web app first</h1>

<form action="/add" method="post">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="body" placeholder="body">
  <input type="submit" value="Add">
</form>
{% for city in all_cities %}
  <p>{{city.city}}:{{city.temp_lo}}</p>
{% endfor %}
</body>
</html>
